* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    padding: 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
}

.card {
    width: 150px;
    height: 220px;
    cursor: pointer;
    position: relative;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.card:active {
  transform: scale(0.97);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

.card-back {
    background-image: url('img/8cxrbGE6i.jpg');
}

.card-front {
    transform: rotateY(180deg);
}

.card-front-2_of_clubs {
    background-image: url('img/2_of_clubs.svg');
}

.card-front-3_of_clubs {
    background-image: url('img/3_of_clubs.svg');
}

.card-front-4_of_clubs {
    background-image: url('img/4_of_clubs.svg');
}

.card-front-5_of_clubs {
    background-image: url('img/5_of_clubs.svg');
}

.card-front-6_of_clubs {
    background-image: url('img/6_of_clubs.svg');
}

.card-front-2_of_diamonds {
    background-image: url('img/2_of_diamonds.svg');
}

.card-front-3_of_diamonds {
    background-image: url('img/3_of_diamonds.svg');
}

.card-front-4_of_diamonds {
    background-image: url('img/4_of_diamonds.svg');
}

.card-front-5_of_diamonds {
    background-image: url('img/5_of_diamonds.svg');
}

.card-front-6_of_diamonds {
    background-image: url('img/6_of_diamonds.svg');
}

.card-front-2_of_hearts {
    background-image: url('img/2_of_hearts.svg');
}

.card-front-3_of_hearts {
    background-image: url('img/3_of_hearts.svg');
}

.card-front-4_of_hearts {
    background-image: url('img/4_of_hearts.svg');
}

.card-front-5_of_hearts {
    background-image: url('img/5_of_hearts.svg');
}

.card-front-6_of_hearts {
    background-image: url('img/6_of_hearts.svg');
}

.card-front-2_of_spades {
    background-image: url('img/2_of_spades.svg');
}

.card-front-3_of_spades {
    background-image: url('img/3_of_spades.svg');
}

.card-front-4_of_spades {
    background-image: url('img/4_of_spades.svg');
}

.card-front-5_of_spades {
    background-image: url('img/5_of_spades.svg');
}

.card-front-6_of_spades {
    background-image: url('img/6_of_spades.svg');
}

.card-front-queen_of_clubs {
    background-image: url('img/queen_of_clubs.svg');
}

.card-front-king_of_clubs {
    background-image: url('img/king_of_clubs.svg');
}

.card-front-queen_of_diamonds {
    background-image: url('img/queen_of_diamonds.svg');
}

.card-front-king_of_diamonds {
    background-image: url('img/king_of_diamonds.svg');
}

.card-front-queen_of_hearts {
    background-image: url('img/queen_of_hearts.svg');
}

.card-front-king_of_hearts {
    background-image: url('img/king_of_hearts.svg');
}

.card-front-queen_of_spades {
    background-image: url('img/queen_of_spades.svg');
}

.card-front-king_of_spades {
    background-image: url('img/king_of_spades.svg');
}

.card-front-ace_of_clubs {
    background-image: url('img/ace_of_clubs.svg');
}

.card-front-ace_of_diamonds {
    background-image: url('img/ace_of_diamonds.svg');
}

.card-front-ace_of_hearts {
    background-image: url('img/ace_of_hearts.svg');
}

.card-front-ace_of_spades {
    background-image: url('img/ace_of_spades.svg');
}

.card-front-black_joker {
    background-image: url('img/black_joker.svg');
}

.card-front-red_joker {
    background-image: url('img/red_joker.svg');
}